<%unless not_friends.nil?%>
<%not_friends.each do |x|%>
<div>
        <%if !x.profile.nil?%>

    <div class="picture"> <img src=<%=x.profile.profile_picture_link %> alt=<%="profile picture of #{x.profile.full_name}"%>></div>
    <p><%=x.profile.full_name%></p>
    <p><%=x.profile.city%></p>
    <p><%=x.profile.favorite_dessert%></p>
        <button><%=link_to "#{x.profile.full_name}'s profile", x%></button>
       <%if !@mapped.include?(x.id)%>
    <%=render 'friendrequest', x: x%>
    <%else%>
        <%=render 'send_messages', x: x%>

    <h4><%='you are friends already'%></h4>
    <%end%>
    <%else%>
    <h3><strong><%='User without profile info:'%></strong></h3>
    <%=x.username%>
    <%=x.email%> <br>
            <button><%=link_to "#{x.username}'s profile", x%></button>

    <%if !@mapped.include?(x.id)%>
    <%=render 'friendrequest', x: x%>
    
    <%else%>
        <%=render 'send_messages', x: x%>

    <h4><%='you are friends already'%></h4>
    <%end%>
    <%end%>
</div>
<%end%>
<%end%>