<%unless @users.nil? %>
<%@users.each do |x|%>
<div>
    
    <div class="picture"> <img src=<%=x.profile.profile_picture_link %> alt=<%="profile picture of #{x.profile.full_name}"%>></div>
    <p><%=x.profile.full_name%></p>
    <p><%=x.profile.city%></p>
    <p><%=x.profile.favorite_dessert%></p>
    <%=render 'friendrequest', x: x%>
</div>
<%end%>
<%end%>