<%= turbo_frame_tag 'show_profile' do %>
<%@profile=current_user.profile%>
<div>
<img src=<%@profile.profile_picture_link%> alt=<%@profile.full_name%>>
<h1><%=@profile.full_name%>'s Profile</h1>

<li>   <h3><%=@profile.city%></h3></li>
<li>   <h3><%=@profile.age%></h3></li>
<li>   <h3><%=@profile.school%></h3></li>
<li>   <h3><%=@profile.favorite_dessert%></h3></li>
</div>

<%end%>
