
<h1><%=@user.username%> Profile.</h1>



<%= render 'profiletools' %>


<%= turbo_frame_tag 'create_profile'  %>

<%= turbo_frame_tag 'create_post'  %>

<%= turbo_frame_tag 'show_profile'  %>

<%= turbo_frame_tag 'show_friends'  %>

<%= turbo_frame_tag 'notifications'  %>

<h3>User wall:</h3>

<%=render 'userposts'%>